body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#table-container {

    text-align:center !important;
    padding-left: 5%;
}
#properties-table {
margin: 0 auto !important;

  
}
.token {
    padding: 10px; 
}